:root {
    --search-image: url("./images/magnify.svg");
    --notifications-image: url("./images/bell-outline.svg");
    --favorite-image: url("./images/star-plus-outline.svg");
    --watch-image: url("./images/eye-plus-outline.svg");
    --clone-image: url("./images/source-fork.svg");
}

body {
    margin: 0;
    padding: 0;
}

.page-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / -1;

    display: grid;
    grid-auto-rows: max-content;
    gap: 50px;

    padding-top: 20px;
    padding-left: 20px;
}

.title {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
}

.function-links {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-auto-rows: max-content;
    gap: 20px;
}

.support-links {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-auto-rows: max-content;
    gap: 20px;
}

.main-header {
    padding-top: 20px;
    padding-right: 20px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: start;
    gap: 20px;
}

.account {
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-items: end;
    align-items: start;
    gap: 20px;
}

.welcome {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50px 1fr;
}

.welcome .profile-picture {
    grid-row: 1 / -1;
    align-self: center;
}

.welcome .welcome-message {
    align-self: end;
}

.main-header .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    align-items: center;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.projects,
.announcements,
.trending {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px;
}

.announcement-list,
.trending-list {
    display: grid;
    grid-auto-rows: 1fr;
}

.announcement {
    display: grid;
    grid-template-rows: auto 1fr;
}

.trending-item {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: repeat(2, max-content);
    column-gap: 15px;
}

.trending-item .profile-picture {
    grid-row: 1 / -1;
    align-self: center;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    gap: 10px;
}

.card .actions {
    display: grid;
    grid-template-columns: 1fr 20px 20px;
    justify-items: end;
    gap: 20px;
}

button.icon {
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    border-style: none;
}

button.icon:hover {
    background-color: lightgray;
}

button.icon:active {
    background-color: gray;
}

button.search {
    background-image: var(--search-image);
}

button.notifications {
    background-image: var(--notifications-image);
}

button.favorite {
    background-image: var(--favorite-image);
}

button.watch {
    background-image: var(--watch-image);
}

button.clone {
    background-image: var(--clone-image);
}