:root {
    --search-image: url("./images/magnify.svg");
    --notifications-image: url("./images/bell-outline.svg");
    --favorite-image: url("./images/star-plus-outline.svg");
    --watch-image: url("./images/eye-plus-outline.svg");
    --clone-image: url("./images/source-fork.svg");
    --home-image: url("./images/home.svg");
    --profile-image: url("./images/card-account-details-outline.svg");
    --messages-image: url("./images/message.svg");
    --history-image: url("./images/clock-time-three.svg");
    --tasks-image: url("./images/note-multiple.svg");
    --communities-image: url("./images/account-group.svg");
    --settings-image: url("./images/cog.svg");
    --support-image: url("./images/help-box.svg");
    --privacy-image: url("./images/shield-check.svg");
    --dashboard-image: url("./images/collage.svg");

    --standard-box-shadow: rgb(156, 156, 156) 1px 1px 5px;
    --accent-gray: rgb(250, 250, 250);
    --secondary-text-color: rgb(100, 100, 100);

    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.page-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    
    box-sizing: border-box;
    background-color: var(--accent-gray);
}

.sidebar {
    grid-row: 1 / -1;

    display: grid;
    grid-auto-rows: max-content;
    gap: 50px;
    
    background-color: skyblue; /* TODO: Replace this color */
    padding: 30px;
}

.sidebar .title {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
}

.function-links {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-auto-rows: max-content;
    gap: 20px;
}

.support-links {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-auto-rows: max-content;
    gap: 20px;
}

.main-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content max-content;
    gap: 20px;

    padding: 30px;
    box-shadow: var(--standard-box-shadow);
    background-color: white;
}

.search {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 20px;
}

.account {
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-items: end;
    align-items: center;
    gap: 20px;
}

.welcome {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50px 1fr;
    gap: 5px;
}

.welcome .profile-picture {
    grid-row: 1 / -1;
    align-self: center;
}

.welcome .welcome-message {
    align-self: end;
    font-size: 0.8rem;
    font-weight: 700;
}

.welcome .username {
    font-size: 1.3rem;
    font-weight: 700;
}

.main-header .actions {
    display: grid;
    grid-template-columns: 1fr 130px 130px;
    justify-items: end;
    align-items: center;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    
    padding: 30px;
}

.info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.projects,
.announcements,
.trending {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 20px;
}

.announcement-list,
.trending-list {
    display: grid;
    grid-auto-rows: max-content;

    border-radius: 10px;
    box-shadow: var(--standard-box-shadow);
    padding: 30px;

    background-color: white;
}

.announcement {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;

    padding: 20px 0px;
}

.announcement:first-child {
    padding-top: 0px;
}

.announcement:last-child {
    border-bottom-style: none;
    padding-bottom: 0;
}

.announcement .title {
    font-size: 1.1rem;
    font-weight: 700;
}

.announcement .message {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}

.trending-item {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: repeat(2, max-content);
    column-gap: 15px;
}

.trending-item .profile-picture {
    grid-row: 1 / -1;
    align-self: center;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 250px;
    gap: 20px;

    box-sizing: border-box;
    min-height: 100%;
    height: 0;
}

.card {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    gap: 10px;

    box-shadow: var(--standard-box-shadow);
    padding: 30px;
    border-radius: 10px;
    
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: forestgreen;

    background-color: white;
}

.card .title {
    font-weight: 700;
    font-size: 1.2rem;
}

.card .description {
    color: var(--secondary-text-color);
}

.card .actions {
    display: grid;
    grid-template-columns: 1fr 20px 20px;
    justify-items: end;
    gap: 20px;
}

button.icon {
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    border-style: none;
}

button.icon:hover,
button.user:hover {
    background-color: lightgray;
}

button.icon:active,
button.user:active {
    background-color: gray;
}

button.search {
    background-image: var(--search-image);
}

button.notifications {
    background-image: var(--notifications-image);
}

button.favorite {
    background-image: var(--favorite-image);
}

button.watch {
    background-image: var(--watch-image);
}

button.clone {
    background-image: var(--clone-image);
}

div.icon {
    mask-repeat: no-repeat;
    background-color: black;
}

div.icon.home {
    mask-image: var(--home-image);
}

div.icon.profile {
    mask-image: var(--profile-image);
}

div.icon.messages {
    mask-image: var(--messages-image);
}

div.icon.history {
    mask-image: var(--history-image);
}

div.icon.tasks {
    mask-image: var(--tasks-image)
}

div.icon.communities {
    mask-image: var(--communities-image);
}

div.icon.settings {
    mask-image: var(--settings-image);
}

div.icon.support {
    mask-image: var(--support-image);
}

div.icon.privacy {
    mask-image: var(--privacy-image);
}

div.icon.dashboard {
    /* height: 50px; */
    /* width: 50px; */
    mask-image: var(--dashboard-image);
}

.main-header .actions button {
    border-style: none;
    border-radius: 20px;
    background-color: forestgreen;
    color: white;
    width: 110px;
    padding: 10px 0px;
    font-size: 1rem;
    font-weight: 700;
}

.main-header .actions button:hover {
    background-color: darkgreen;
}

button:hover {
    cursor: pointer;
}

input[type="text"] {
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    background-color: var(--accent-gray);
    padding: 5px 15px;
    font-size: 1rem;
}

input[type="text"]:focus {
    border-color: forestgreen;
    outline: none;
    box-shadow: var(--standard-box-shadow);
}

button.user {
    border-style: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 10px;
    background-color: white;
}

.header {
    font-size: 1.3rem;
    font-weight: 700;
}