body {
    margin: 0;
    padding: 0;
}

.page-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / -1;

    display: grid;
    grid-auto-rows: max-content;
    gap: 50px;

    padding-top: 20px;
    padding-left: 20px;
}

.title {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
}

.function-links {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-auto-rows: max-content;
    gap: 20px;
}

.support-links {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-auto-rows: max-content;
    gap: 20px;
}